@font-face {
    font-family: NHaasGroteskTXPro-55Rg;
    src: url(fonts/NHaasGroteskTXPro-55Rg.woff);
    font-weight: regular;
}

@font-face {
    font-family: NHaasGroteskTXPro-56It;
    src: url(fonts/NHaasGroteskTXPro-56It.woff);
    font-weight: italic;
}

html, body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1, h1-project, h1-counter {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: NHaasGroteskTXPro-55Rg;
    position: absolute;
    z-index: 8;
    font-size: 1.5em;
    line-height: 1.2em;
    color:#fff;
    display: inline;
    padding: 5px;
}

h1-project{
    left: 22em;
}

h1-counter{
    padding: 5px;
    position: relative;
    left: 18em;
    z-index: 8;
    top: 5px;
}

h1-about{
    font-family: NHaasGroteskTXPro-55Rg;
    position: absolute;
    z-index: 4;
    font-size: 1.5em;
    line-height: 1.2em;
    left: 2em;
    color: #fff;
    width: 95%;
    display: block;
}

p{
    font-family: NHaasGroteskTXPro-55Rg;
    display: inline;
    font-size: 8px;
    line-height: 1.2em;
    letter-spacing: 1px;
}

h2-avoid{
    font-family: NHaasGroteskTXPro-55Rg;
    color: #000;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    font-size: 80px;
    line-height: 82px;
    font-weight: 400;
}

.left{
    position: absolute;
    top: 50%;
    transform&thinsp;: rotate(-90deg);
    left: -20px;
}

.right{
    position: absolute;
    top: 50%;
    right: -20px;
    transform&thinsp;: rotate(90deg);
}

.bottom{
    position: absolute;
    text-align: center;
    bottom: 0px;
    transform&thinsp;: rotate(180deg);
    left: 45%;
}

/*
	#Video{
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; / in case the video doesn't fit the whole page /
  		background-image: / our video /;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; / cover video background /
   		z-index:3;
	}
*/

a{
    font-family: NHaasGroteskTXPro-55Rg;
    color: #fff;
    text-decoration: none;
}

ul{
    font-family: NHaasGroteskTXPro-55Rg;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.2em;
}

li{
  display: inline;
}

#header{
    position:fixed;
    padding: 5px 10px;
    display:inline;
    text-align:left;
    background-color: none;
    z-index: 100;
    top:0px;
}

#footer{
  position:fixed;
  display:inline;
  text-align:left;
  background: none;
  z-index: 0;
  left: 2em;
  }

.section{
    text-align:left;
}

.fp-controlArrow {
    width: 20%;
    height: 100%;
}

.fp-prev {
    left: 0;
    border: none;
    cursor: url("cursor-left_2.png") 15 15,auto !important;
}

.fp-next {
    right:0;
    border: none;
    cursor: url("cursor-right_2.png") 15 15,auto !important;
}

&thinsp;::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

#warning {
    display: none;
}


@media only screen
  and (orientation: portrait) {
    #wrapper {
        display: none;
      }
    #menu {
      display: none;
    }
    #warning {
        position: absolute;
    }
}

@media only screen
  and (orientation:landscape) {
    #warning {
        display: none;
    }
}

@CHARSET "ISO-8859-1";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
  }

  a:hover, a:focus {
      color: transparent;
      text-decoration: none;
      overflow: visible;
  }

table{
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}

q:before,q:after {
    content:'';
}

abbr,acronym {
  border: 0;
}

body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.intro p{
	width: 50%;
	margin: 0 auto;
}

#menu li a{
	text-decoration:none;
}

#menu li.active a:hover{
}
